@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Areas/JS/JS/JSCloseBag.js"></script>
</head>
<body>
    <div>
        <input type="button" value="匿名函数和闭包 使用" onclick="JSCloseBag1()" />
        <input type="button" value="匿名函数和闭包 回收" onclick="JSCloseBag2()" />
    </div>
</body>
</html>
