@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Areas/JS/JS/JSMath.js"></script>
</head>
<body>
    <div>
        <input type="button" value="Math向上舍入" onclick="Math1()" />
        <input type="button" value="Math向下舍入" onclick="Math2()" />
        <input type="button" value="Math四舍五入" onclick="Math3()" />
        <input type="button" value="Math10-20随机" onclick="Math4(10,20)" /><input id="math4" type="text" style="width:30px;color:red;"/>
    </div>
</body>
</html>
