@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>js对象和数组操作</title>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Areas/JS/JS/JSObjArray.js"></script>
</head>
<body>
    <div>
        <input  type="button" value="obj操作赋值和取值1" onclick="obj1()" />
        <input type="button" value="obj操作赋值和取值2" onclick="obj2()" />
        <input type="button" value="数组操作使用和增加1" onclick="array1()" />
        <input type="button" value="数组操作 替换连接符2" onclick="array2()" />
        <input type="button" value="数组操作 删除3" onclick="array3()" />
        <input type="button" value="数组操作 截取4" onclick="array4()" />
    </div>
</body>
</html>
