@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Areas/JS/JS/JSstring.js"></script>
</head>
<body>
    <div>
        <input type="button" value="大小写" onclick="str1()" />

        <input type="button" value="字符串查找" onclick="str2()" />

        <input type="button" value="字符串查找序号" onclick="str3()" />

        <input type="button" value="字符串查找序号" onclick="str3()" />
    </div>
</body>
</html>
