@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>多人同时即时通讯（入门版）</h2>
        <h4>加入HelloSingle单聊功能</h4>
        <h4>加入sendgroup组聊功能</h4>
        <h5>提示：</h5>
        <h5>单聊需要输入对方的ID</h5>
        <h5>组聊需要加入一个组</h5>
    </div>

    <div>
        <div class="container">
            您当前的唯一ID：
            <input type="text" id="sid" style="width:300px" placeholder="您当前的唯一ID" />
            <br />
            名字：<input type="text" id="displayname" placeholder="输入您的名字" />
            <br />
            内容：<input type="text" id="message" placeholder="输入您要发送的内容" />
            <input type="button" id="sendALL" value="全体发送" />
            <br />
            私聊：<input type="text" id="pid" style="width:300px" placeholder="您要私聊的ID" />
            <input type="button" id="sendSingle" value="私人发送" />
            <br />
            组聊：<input type="text" id="groupname" placeholder="您要加入的组名" />
            <input type="button" id="addgroup" value="加入该组" />
            <input type="button" id="sendgroup" value="群组发送" />
            <ul id="discussion"></ul>
        </div>
    </div>

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    @*这个东西是 Startup加入 app.MapSignalR();才会出来的*@
    <script src="~/signalr/hubs"></script>
    <script src="~/Areas/SignalRNew/JS/SRSend.js"></script>
</body>
</html>
