@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>多人同时即时通讯（初门超级简单版）</h2>
    </div>

    <div>
        <div class="container">
            <input type="text" id="displayname" placeholder="输入您的名字" />
            <input type="text" id="message" placeholder="输入您要发送的内容" />
            <input type="button" id="sendmessage" value="发送" />
            <ul id="discussion"></ul>
        </div>
    </div>

    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    @*这个东西是 Startup加入 app.MapSignalR();才会出来的*@
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            //chatHub这个名子很坑，自己写的基本都挂了，开不不明白有大小写之分。
            //后来才知道Hub的开头字母一定要为小写。
            var chat = $.connection.chatHub;
            //hello 这个是ChatHub里的一个方法 用$.connection.chatHub读出来的，命名空间随便写。
            //这个方法是返回方法
            chat.client.helloBack = function (name, message) {
                $('#discussion').append('<li><strong>' + name + '</strong>: ' + message + '</li>');
            };
            //当相于开始主线程
            $.connection.hub.start();
            //提交开始一个server程序
            $('#sendmessage').click(function () {
                chat.server.hello($('#displayname').val(), $('#message').val());
                $('#message').val('').focus();
            });
        });
    </script>
</body>
</html>
