@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
   
    <link href="~/Areas/CssJquery/CSS/AccordionDemo.css" rel="stylesheet" />
    <script src="~/Areas/CssJquery/JS/AccordionDemo.js"></script>
</head>
<body>
    <div >
        <ul>

            <li class="li" style="background-image: url(/Areas/CssJquery/Img/s1.jpg)">
                <div class="uldiv" >
                    <p>秋意渐，剑风凉，池边萧萧木。</p>
                    <p>相思楚，乡关暮，夜深谁与渡。</p>
                </div>
            </li>
            <li class="li" style="background-image: url(/Areas/CssJquery/Img/s2.jpg)">
                <div class="uldiv">
                    <p>百花竞妍梅自孤，</p>
                    <p>品高何须同入俗。</p>

                </div>
            </li>
            <li class="li" style="background-image: url(/Areas/CssJquery/Img/s3.jpg)">
                <div class="uldiv">
                    <p>待到飞雪舞青城，</p>
                    <p>枝枝瓣瓣见风骨。</p>
                </div>
            </li>
            <li class="li" style="background-image: url(/Areas/CssJquery/Img/s4.jpg)">
                <div class="uldiv">
                    <p>秋意渐，剑风凉，池边萧萧木。</p>
                    <p>相思楚，乡关暮，夜深谁与渡。</p>
                </div>
            </li>
            <li class="li" style="background-image: url(/Areas/CssJquery/Img/s5.jpg)">
                <div class="uldiv">
                    <p>秋意渐，剑风凉，池边萧萧木。</p>
                    <p>相思楚，乡关暮，夜深谁与渡。</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
