@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
   
    <link href="~/Areas/CssJquery/CSS/JDFTGQ.css" rel="stylesheet" />
    <script src="~/Areas/CssJquery/JS/JDFTGQ.js"></script>
</head>
<body>
    <div id="divbody">        
        @*<label id="la1" style="margin-top:50px; margin-left:300px;">asdf</label>*@
        <img id="imgJDTop" src="~/Areas/CssJquery/Img/JD/JDTOP.png" />
        <img id="d1" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/d1.png" />
        <img id="d2" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/d2.png" />
        <img id="d3" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/d3.png" />
        <img id="d4" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/d4.png" />
        <img id="longS" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/longS.png" />
        <img id="longT" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/longT.png" />
        <img id="longFire" class="imgJDBody" src="~/Areas/CssJquery/Img/JD/LongFire.png" />
    </div>
</body>
</html>
