@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Areas/CssJquery/CSS/JDIndex.css" rel="stylesheet" />
    <script src="~/Areas/CssJquery/JS/JDIndex.js"></script>
</head>
<body>
    <div style="height:20px"></div>
    @*1211 512 21045*@
    <div id="ListTop">
        <div id="ListTopFL"> <span>全部商品分类</span> </div>
        <div id="ListTopBody">
            <ul id="ListTopUL">
                <li class="ListTopUL1">服装城</li>
                <li class="ListTopUL1">美妆馆</li>
                <li class="ListTopUL1">超市</li>
                <li class="ListTopUL1">生鲜</li>
                <li class="ListTopUL1">全球购</li>
                <li class="ListTopUL1">购团</li>
                <li class="ListTopUL1">金融</li>
            </ul>
        </div>
    </div>
    <div id="ListLine"></div>
    <div id="ListBody">
        <div id="ListBodyLeft">
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">家用电器</a><i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">手机、运营商、数码</a><i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">电脑、办公</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">家居、家具、家装、厨具</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">男装、女装、童装、内衣</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">个护化妆、清洁用品、宠物</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">鞋靴、箱包、珠宝、奢侈品</a><i>></i> </div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">运动、户外、钟表</a><i>></i> </div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">汽车、汽车用品</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">母婴、玩具乐器</a><i>></i> </div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">食品、酒类、生鲜、特产</a><i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">医药保健</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">图书、音像、电子书</a><i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">彩票、旅行、充值、票务</a> <i>></i></div>
            <div class="ListBodyLeftDiv"><a class="ListBodyLeftDivA" href="javascript:;">理财、众筹、白条、保险</a> <i>></i></div>
        </div>
        <div id="ListTopRight">
            <div class="ListTopRight1">                     <img src="~/Areas/CssJquery/Img/1.jpg" /></div>
            <div class="ListTopRight1" style="display:none"><img src="~/Areas/CssJquery/Img/2.jpg" /></div>
            <div class="ListTopRight1" style="display:none"><img src="~/Areas/CssJquery/Img/3.jpg" /></div>
            <div class="ListTopRight1" style="display:none"><img src="~/Areas/CssJquery/Img/4.jpg" /></div>
            <div class="ListTopRight1" style="display:none"><img src="~/Areas/CssJquery/Img/5.jpg" /></div>
            <div class="ListTopRight1" style="display:none"><img src="~/Areas/CssJquery/Img/6.jpg" /></div>
            <div class="ListTopRight1" style="display:none"><img src="~/Areas/CssJquery/Img/7.jpg" /></div>

        </div>
        <div id="listbodyRDiv">
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/1.jpg" />
            <br />2<br />2</div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/2.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/3.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/4.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/5.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/6.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/7.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/8.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/9.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/10.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/1.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/2.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/3.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/4.jpg" /></div>
            <div class="listbodyRDiv1"><img src="~/Areas/CssJquery/Img/5.jpg" /></div>
        </div>
    </div>
</body>
</html>
