@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>       
    <script src="~/Areas/CssJquery/JS/SnowDemo.js"></script>
    <link href="~/Areas/CssJquery/CSS/SnowDemo.css" rel="stylesheet" />
</head>
<body>
    <div>        
        <input id="downSnow" onclick="downSnowClick()" type="button" value="下雪啦" />
        <input id="stopSnow" onclick="stopSnowClick()" type="button" value="雪停了" />
    </div>
</body>
</html>
