@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="~/Areas/CssJquery/JS/StairDemo.js"></script>
    <link href="~/Areas/CssJquery/CSS/StairDemo.css" rel="stylesheet" />
    <script src="~/Areas/CssJquery/JS/jquery.mousewheel.js"></script>
</head>
<body>
    <div>
        <div id="divLayer1" class="divbody">1楼<img src="~/Areas/CssJquery/Img/1.jpg" /></div>
        <div id="divLayer2" class="divbody">2楼<img src="~/Areas/CssJquery/Img/2.jpg" /></div>
        <div id="divLayer3" class="divbody">3楼<img src="~/Areas/CssJquery/Img/3.jpg" /></div>
        <div id="divLayer4" class="divbody">4楼<img src="~/Areas/CssJquery/Img/4.jpg" /></div>
        <div id="divLayer5" class="divbody">5楼<img src="~/Areas/CssJquery/Img/5.jpg" /></div>
        <div id="divLayer6" class="divbody">6楼<img src="~/Areas/CssJquery/Img/6.jpg" /></div>
        <div id="divLayer7" class="divbody">7楼<img src="~/Areas/CssJquery/Img/7.jpg" /></div>
        <div id="divLayer8" class="divbody">8楼<img src="~/Areas/CssJquery/Img/8.jpg" /></div>
        <div id="divLayer9" class="divbody">9楼<img src="~/Areas/CssJquery/Img/9.jpg" /></div>
        <div id="divLayer10" class="divbody">10楼<img src="~/Areas/CssJquery/Img/10.jpg" /></div>
    </div>
    <div>
        <ul id="ul1">
            <li class="li1" onclick="liclick(1)">1楼</li>
            <li class="li1" onclick="liclick(2)">2楼</li>
            <li class="li1" onclick="liclick(3)">3楼</li>
            <li class="li1" onclick="liclick(4)">4楼</li>
            <li class="li1" onclick="liclick(5)">5楼</li>
            <li class="li1" onclick="liclick(6)">6楼</li>
            <li class="li1" onclick="liclick(7)">7楼</li>
            <li class="li1" onclick="liclick(8)">8楼</li>
            <li class="li1" onclick="liclick(9)">9楼</li>
            <li class="li1" onclick="liclick(10)">10楼</li>
        </ul>
    </div>
</body>
</html>
