@using Model
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> MVC+EF6.0 积分管理系统1.0</h1>
    <p class="lead">1.请在积分中查看自己的任务</p>
    <p class="lead">2.完成任务及时更新状态(否则不计算积分)</p>
    <p class="lead">3.研发收到任务及时确认需求,并修改状态进行中</p>

    <p><a href="http://www.baidu.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
