@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Areas/CssJquery/CSS/CssDemo.css" rel="stylesheet" />
</head>
<body>
    <div>
    <p>我爱北京天安门</p>
        <div class="c1">
            aaaaa
        </div>
        <div class="c2">
            bbbbb
        </div>
        <div class="c3">你好</div>
        <div id="img1">222</div>


    </div>
    <div id="div1"><p>超长超长超长超长超长超长超长超长超长超长超长超长超长超p> </div>
    <div>隐藏之后占位置</div>
    <div>
        <a href="javascript:;">这是一个网址</a>
        <p class="p1">鼠标放上之后的图标</p>
    </div>
    <div>
        <ul>
            <li>aaaa</li>
            <li>bbb</li>
            <li>ccc</li>
            <li>ddd</li>
            <li>eee</li>
            <li>ffff</li>

        </ul>
    </div>
</body>
</html>
