<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <aliases>
      <!--<add alias="IGradeBLL" type="IBLL.IGradeBLL,IBLL" />
      <add alias="GradeBLL" type="BLL.GradeBLL,BLL" />-->
      <add alias="ITest" type="IBLL.ITest,IBLL" />
      <add alias="Test" type="BLL.Test,BLL" />
    </aliases>
    <!--容器-->
    <container name="MyContainer">
      <!--映射关系-->
      <!--<register type="IGradeBLL" mapTo="GradeBLL" ></register>-->
      <register type="ITest"  mapTo="Test" name="Test"></register>
    </container>
  </unity>
</configuration>
